@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #030712;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#map {
  height: 20rem;
  border: 1px solid lightgray;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

form {
  margin: 2rem auto;
}

.form-group {
  display: flex;
  flex-direction: column;

  gap: 5px;
  margin-bottom: 10px;
}

input {
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #374151;
  color: #fff;
  border: 1px solid #4b5563;
}

input:focus {
  border: 1px solid #3b82f6;
}

button {
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
  border: none;
  transition: 100ms all ease-in;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #1e40af;
}
